<form name="editForm" role="form" novalidate [formGroup]="editForm">
    <div class="form-group">
        <label class="form-control-label" for="field_order_date">Order Date</label>
        <input type="date" class="form-control" name="orderDate" id="field_order_date"
            formControlName="orderDate"/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_shipped_date">Shipped Date</label>
        <input type="date" class="form-control" name="shippedDate" id="field_shipped_date"
            formControlName="shippedDate"/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_paid_date">Paid Date</label>
        <input type="date" class="form-control" name="paidDate" id="field_paid_date"
            formControlName="paidDate"/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_payment_type">Payment Type</label>
        
        <select class="form-control" name="paymentType" id="field_payment_type"
        formControlName="paymentType">
            <option>Check</option>
            <option>Cash</option>
            <option>Card</option>
        </select>
    </div>
    <div class="form-group">
        <label class="form-control-label" for="field_order_status">Order Status</label>
            
        <select class="form-control" name="paymentType" id="field_order_status"
        formControlName="orderStatus">
            <option>On Hold</option>
            <option>Shipped</option>
            <option>Complete</option>
            <option>New</option>
        </select>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_customer">Customer</label>
            
        <select class="form-control" name="customer" id="field_customer"
        formControlName="customerId">
            <option *ngFor="let customer of customers" [value]="customer.id">{{customer.firstName}}</option>
         
        </select>
    </div>

    <div class="form-group">
            <label class="form-control-label" for="field_employee">Employee</label>
                
            <select class="form-control" name="employee" id="field_employee"
            formControlName="employeeId">
                <option *ngFor="let employee of employees" [value]="employee.id">{{employee.firstName}}</option>
             
            </select>
        </div>
</form>