<form name="editForm" role="form" novalidate [formGroup]="editForm">
    <div class="form-group">
        <label class="form-control-label" for="field_first_name">First Name</label>
        <input type="text" class="form-control" name="firstName" id="field_firstName"
            formControlName="firstName"/>
    </div>


    <div class="form-group">
        <label class="form-control-label" for="field_last_name">Last Name</label>
        <input type="text" class="form-control" name="lastName" id="field_lastName"
            formControlName="lastName"/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_email">Email</label>
        <input type="text" class="form-control" name="email" id="field_email"
            formControlName="email"/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_phone">Phone</label>
        <input type="text" class="form-control" name="phone" id="field_phone"
            formControlName="phone"/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_department">Department</label>
        <input type="text" class="form-control" name="department" id="field_department"
            formControlName="department"/>
    </div>
</form>