<div class="pad-16">

    <button class="btn btn-lg btn-outline-primary" (click)="create()">Create Employee</button>


    <ngx-datatable
        style='width:1050px;'
        [rows]="rows"
        [columns]="columns"
        [headerHeight]="45"
        [rowHeight]="'auto'"
        [columnMode]="'standard'"
        [scrollbarV]="false"
    >
    </ngx-datatable>
</div>

<ng-template #employeeActionTpl let-row="row" let-value="value">
        <button type="button" class="btn btn-primary" (click)="edit(row)">Edit</button>
    <button type="button" class="btn btn-danger" (click)="delete(row)">Delete</button>
</ng-template>
