<form name="editForm" role="form" novalidate [formGroup]="editForm">
    <div class="form-group">
        <label class="form-control-label" for="field_product_code">Product Code</label>
        <input type="text" class="form-control" name="productCode" id="field_product_code"
            formControlName="productCode"/>
    </div>


    <div class="form-group">
        <label class="form-control-label" for="field_product_name">Product Name</label>
        <input type="text" class="form-control" name="productName" id="field_product_name"
            formControlName="productName"/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_description">Description</label>
        <input type="text" class="form-control" name="description" id="field_description"
            formControlName="description"/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_standard_cost">Standard Cost</label>
        <input type="text" class="form-control" name="standardCost" id="field_standard_cost"
            formControlName="standardCost"/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_list_price">List Price</label>
        <input type="text" class="form-control" name="listPrice" id="field_list_price"
            formControlName="listPrice"/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_target_level">Target Level</label>
        <input type="text" class="form-control" name="targetLevel" id="field_target_level"
            formControlName="targetLevel"/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_reorder_level">Reorder Level</label>
        <input type="text" class="form-control" name="reorderLevel" id="field_reorder_level"
            formControlName="reorderLevel"/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_minimum_reorder_quantity">Minimum Reorder Quantity</label>
        <input type="text" class="form-control" name="minimumReorderQuantity" id="field_minimum_reorder_quantity"
            formControlName="minimumReorderQuantity"/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_quantity_per_unit">Quantity Per Unit</label>
        <input type="text" class="form-control" name="quantityPerUnit" id="field_quantity_per_unit"
            formControlName="quantityPerUnit"/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_discontinued">Discontinued</label>
        <input type="text" class="form-control" name="discontinued" id="field_discontinued"
            formControlName="discontinued"/>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="field_category">Category</label>
        <input type="text" class="form-control" name="category" id="field_category"
            formControlName="category"/>
    </div>
</form>