<div class="pad-16">

        <button class="btn btn-lg btn-outline-primary" (click)="create()">Create Product</button>

    <ngx-datatable
        style='width:1100px;'
        [rows]="rows"
        [columns]="columns"
        [headerHeight]="45"
        [rowHeight]="'auto'"
        [columnMode]="'standard'"
        [scrollbarV]="false"
    >
    </ngx-datatable>
</div>
<ng-template #productDiscontinuedTpl let-row="row" let-value="value">
   <div class="toggle-switch">
        <input type="checkbox" [attr.checked]="value==1?true:null" checked [id]="row.productCode"/>
        <label [for]="row.productCode"></label>
   </div>
</ng-template>
<ng-template #productActionTpl let-row="row" let-value="value">
        <button type="button" class="btn btn-primary" (click)="edit(row)">Edit</button>
    
        <button type="button" class="btn btn-danger" (click)="delete(row)">Delete</button>
    <!-- <div class="toggle-switch">
         <input type="checkbox" [attr.checked]="value==1?true:null" checked [id]="row.productCode"/>
         <label [for]="row.productCode"></label>
    </div> -->
 </ng-template>


